/* Style the content wrapper for flexible layout */
.content-wrapper {
	flex: 1;
	margin: 0 2rem;
}

/* Style the controls wrapper for better organization */
.controls-wrapper {
	width: 20%;
	min-width: 380px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Style the textarea for user input */
textarea {
	width: 100%;
	height: 420px;
	background-color: white;
	color: black;
	resize: none;
	margin-top: 1rem;
	padding: 1rem;
	border: none;
	border-radius: 5px;
	font-size: 1.1rem;
	font-family: "Arial", sans-serif;
	overflow: auto;
	box-shadow: none;
}

/* Style the legend for information display */
#legend {
	width: 100%;
	background-color: #f0f0f0;
	color: #333;
	text-align: center;
	display: block;
	font-size: 0.8rem;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	border-radius: 5px;
}

/*
 * Media query for screens with a maximum width of 499px 
 * Adjust layout and element sizes for smaller screens
 */
@media screen and (max-width: 499px) {
	textarea {
		height: 300px;
	}
}

/*
 * Media query for screens with a maximum width of 1080px 
 * Adjust layout and element sizes for medium screens
 */
@media screen and (max-width: 1080px) {
	.content-wrapper {
		width: 70%;
		max-width: 1079px;
	}

	textarea {
		width: 100%;
		max-width: 1079px;
	}
}