/* 
 * Apply universal box-sizing for consistent layout calculations 
 * Set default font styles and remove default margins and padding for all elements
 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

/* Improve body styling for better layout control */
body {
	background-color: #7170A5;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

/* Style the header for consistent presentation */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: #555;
	padding: 1rem;
	text-align: center;
}

/* Style the header title wrapper for centering */
.header-title-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style the header title for better readability */
header h1 {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 550;
	text-align: center;
}

/* Style the main container for layout consistency */
main {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	width: 90%;
	max-width: 1200px;
}

.content-container {
	width: 60%;
	min-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

/* Style the label container for form control layout */
.label-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 1rem;
}

/* Style labels for better readability */
label {
	font-size: 1.1rem;
	color: white;
}

/* Style the button container for layout consistency  */
.button-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 1rem;
}

/* Style buttons and select elements for consistent interaction design */
button, select {
	width: calc(50% - 4px);
	height: 40px;
	margin-top: 0.5rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	background-color: #f0f0f0;
	color: #333;
	transition: background-color 0.3s, color 0.3s;
}

button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

button:hover {
	background-color: #e0e0e0;
}

button:active {
	transform: translateY(1px);
}

a {
	font-size: 1rem;
	text-decoration: none;
	display: inline-block;
	color: #333;
	background-color: #ccc;
	margin-top: 0.5rem;
	padding: 0.5rem 1rem;
}

a:hover {
	background-color: #e0e0e0;
	border-color: white;
}

a:active {
	transform: translateY(1px);
}

/*
 * Style the guide link for user guidance 
 * Add transition effects for interactivity
 */
a#guide {
	font-size: 1rem;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	display: inline-block;
	padding: 0.5rem 1rem;
	border: 2px solid white;
	border-radius: 5px;
	transition: background-color 0.3s, border-color 0.3s;
}

a#guide:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-color: white;
}

a#nonsense-texter {
	width: calc(50% - 4px);
	text-align: center;
	font-size: 1rem;
	color: #333;
	text-decoration: none;
	display: inline-block;
	padding: 0.5rem 1rem;
	border: 2px solid #ccc;
	border-radius: 5px;
	transition: background-color 0.3s, border-color 0.3s;
}

/* Style the link container for layout consistency  */
.link-container {
	width: 100%;
	text-align: center;
	margin-top: 1rem;
}

p {
	margin-top: 1rem;
	text-align: center;
}

/* Style the footer for consistent presentation */
footer {
	width: 100%;
	background-color: #555;
	padding: 0.8rem;
	text-align: center;
	margin-top: auto;
	font-size: 0.8rem;
}

.reset-styles {
	all: unset;
	color: inherit;
	text-decoration: none;
}

.reset-styles:hover {
	all: unset;
}

.reset-styles:active {
	all: unset;
}

/*
 * Media query for screens with a maximum width of 499px 
 * Adjust layout and element sizes for smaller screens
 */
@media screen and (max-width: 499px) {
	main {
		padding: 0.5rem;
		flex-direction: column;
		align-items: center;
	}

	.label-container {
		flex-direction: column;
		align-items: flex-start;
	}

	button, select {
		width: 100%;
		margin-top: 0.5rem;
	}
}

/*
 * Media query for screens with a maximum width of 799px 
 * Adjust layout and element sizes for medium screens
 */
@media screen and (max-width: 799px) {
	main {
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		width: 100%;
		max-width: 800px;
	}

	.content-wrapper {
		width: 70%;
		max-width: 800px;
	}

	.label-container {
		width: 100%;
		margin-top: 1rem;
	}

	button, select {
		width: calc(50% - 4px);
	}
}